
            <table style="border:2px solid black; border-collapse:collapse;">
          <tr style="border: 1px solid black;">
            <th width="700">Sentence</th>
            <th width="100">Start</th>
            <th width="100">End</th>
          </tr>
        <tr>
        <td> А , таким вот образом можно попробовать поучаствовать в отборе на результативность федерального проекта , наверное в моей части , все спасибо , спасибо вам большое <span style="background: rgb(246, 241, 234); padding: 0.2em 0.2em; margin: 0px 0.25em; line-height: '
                f'1; border-radius: 0.35em; border: 2px solid rgb(186, 0, 0);">Оксана</span> <span style="background: rgb(246, 241, 234); padding: 0.2em 0.2em; margin: 0px 0.25em; line-height: '
                f'1; border-radius: 0.35em; border: 2px solid rgb(186, 0, 0);">Валерьевна</span> , сегодня наверное такой особый день</td>
        <td>0:00:00</td>
        <td>0:00:16</td>
        </tr>
        <tr>
        <td>----</td>
        <td>----</td>
        <td>----</td>
        </tr>
        <tr>
        <td>   Потому что федеральный проект становится сегодня публичным , идет наверное одной из первых</td>
        <td>0:00:16</td>
        <td>0:00:21</td>
        </tr>
        <tr>
        <td>----</td>
        <td>----</td>
        <td>----</td>
        </tr>
        <tr>
        <td>   Я думаю , что это первое такое публичное представление федерального проекта , и вы наверное согласитесь , что нас наверняка ждет много неожиданностей , сегодняшня нсессия полностью спланирована каждый вопрос , он заранее известен мне показалось немножко скучно поэтому</td>
        <td>0:00:22</td>
        <td>0:00:36</td>
        </tr>
        <tr>
        <td>----</td>
        <td>----</td>
        <td>----</td>
        </tr>
        <tr>
        <td>   Я попросил <span style="background: rgb(246, 241, 234); padding: 0.2em 0.2em; margin: 0px 0.25em; line-height: '
                f'1; border-radius: 0.35em; border: 2px solid rgb(186, 0, 0);">Андрея</span> <span style="background: rgb(246, 241, 234); padding: 0.2em 0.2em; margin: 0px 0.25em; line-height: '
                f'1; border-radius: 0.35em; border: 2px solid rgb(186, 0, 0);">Шолхва</span> , который был у истоков разработки федерального проекта , год назад задать какой - то один неожиданный вопрос — <span style="background: rgb(246, 241, 234); padding: 0.2em 0.2em; margin: 0px 0.25em; line-height: '
                f'1; border-radius: 0.35em; border: 2px solid rgb(186, 0, 0);">Андрей</span> пожалуйста — <span style="background: rgb(246, 241, 234); padding: 0.2em 0.2em; margin: 0px 0.25em; line-height: '
                f'1; border-radius: 0.35em; border: 2px solid rgb(186, 0, 0);">Оксана</span> <span style="background: rgb(246, 241, 234); padding: 0.2em 0.2em; margin: 0px 0.25em; line-height: '
                f'1; border-radius: 0.35em; border: 2px solid rgb(186, 0, 0);">Валерьевна</span></td>
        <td>0:00:36</td>
        <td>0:00:47</td>
        </tr>
        <tr>
        <td>----</td>
        <td>----</td>
        <td>----</td>
        </tr>
        <tr>
        <td>   А неожиданный вопрос будет звучать — так — капитализация компании — это некая оценка ожиданий инвесторов от ее стоимости</td>
        <td>0:00:48</td>
        <td>0:00:57</td>
        </tr>
        <tr>
        <td>----</td>
        <td>----</td>
        <td>----</td>
        </tr>
        <tr>
        <td>   А бюджет федерального проекта — это оценка государства стоимости вот той темы , за которую федеральный проект отвечает в связи вот с изменениями предполагаемого бюджета на проект на федеральный проект по искусственному интеллекту , может быть два мнения , что то это плохо</td>
        <td>0:00:58</td>
        <td>0:01:18</td>
        </tr>
        <tr>
        <td>----</td>
        <td>----</td>
        <td>----</td>
        </tr>
        <tr>
        <td>   Но он изменился значит , государство , меньше ожидает от искусственного интеллекта или это хорошо</td>
        <td>0:01:19</td>
        <td>0:01:23</td>
        </tr>
        <tr>
        <td>----</td>
        <td>----</td>
        <td>----</td>
        </tr>
        <tr>
        <td>   Потому что ? Ну есть контракт договор со <span style="background: rgb(246, 241, 234); padding: 0.2em 0.2em; margin: 0px 0.25em; line-height: '
                f'1; border-radius: 0.35em; border: 2px solid rgb(186, 0, 0);">Сбербанком</span> , есть альянс , и компании уже делают достаточно , и государство , может не финансировать в том объеме , который как бы изначально планировался , что у нас хорошо или плохо с искусственным интеллектом , знаете , касательно финансирования федерального проекта , наверное немножко , некорректно вопрос с точки зрения ожидаемости</td>
        <td>0:01:23</td>
        <td>0:01:50</td>
        </tr>
        <tr>
        <td>----</td>
        <td>----</td>
        <td>----</td>
        </tr>
        <tr>
        <td>   Потому что ожидаемость она прописана в надстратегии , хотим мы этого или нет , мы все будем активно работать получать результаты и соответственно , каждый каждый субъект в этой скажем , так цепочки он будет делать , то , что должно касательно уменьшения финансирования , да это такой немножко , скажем , так содушещипательный вопрос — да</td>
        <td>0:01:50</td>
        <td>0:02:15</td>
        </tr>
        <tr>
        <td>----</td>
        <td>----</td>
        <td>----</td>
        </tr>
        <tr>
        <td>   Потому что и бизнес - сообщества уточняли , почему мы год обсуждали там одну сумму , да там сейчас получилось сконцентрироваться именно на этой сумме , сейчас наш федеральный проект весит тридцать шесть миллиардов рублей</td>
        <td>0:02:15</td>
        <td>0:02:31</td>
        </tr>
        <tr>
        <td>----</td>
        <td>----</td>
        <td>----</td>
        </tr>
        <tr>
        <td>   Но мы максимально сохранили все , вот те о которых</td>
        <td>0:02:32</td>
        <td>0:02:37</td>
        </tr>
        <tr>
        <td>----</td>
        <td>----</td>
        <td>----</td>
        </tr>
        <tr>
        <td>   Я и говорила экосистемные мероприятия и на них как раз центрировали финансирование , при этом мы работаем активно с министерством по цифровизации , в части , как раз внедрение через сидитио и мы смотрим</td>
        <td>0:02:37</td>
        <td>0:02:51</td>
        </tr>
        <tr>
        <td>----</td>
        <td>----</td>
        <td>----</td>
        </tr></table>